@model Yuffie.WebApp.Models.YCPSElement

@{
    var elementId = Model.Name.Replace(" ", "_");
}

<div element id="con_@elementId">
    @if(Model.Type == "Text")
    {
        <div class="col s6">
            <div class="row">
                <div class="input-field col s6">
                    @if(Model.TextType == "textarea") 
                    {
                        <textarea watch="@elementId" type="@(Model.TextType)" value="@(Model.Default)" id="el_@elementId"></textarea>
                    }
                    else 
                    {
                        var suplClass = "";
                        var type = Model.TextType
                        if(Model.TextType == "date")
                        {
                            type = "text";
                            suplClass = "newClass";
                        }
                        <input watch="@elementId" type="@(type)" value="@(Model.Default)" id="el_@elementId" class="validate @(suplClass)"></input>
                    }
                    <label for="el_@elementId">@(Model.Name)</label>
                </div>
            </div>
        </div>
    }
    @if(Model.Type == "List")
    {
        <div class="col s6">
            <div class="input-field col s12">
                <select watch="@elementId" id="el_@elementId">
                    @for(var itemIndex = 0; itemIndex < Model.Items.Count(); ++itemIndex)
                    {
                        var item = Model.Items[itemIndex];
                        var selected = "";
                        if(Model.Default == item)
                        {
                            <option selected value="@(item)">@(item)</option>
                        }
                        else 
                        {
                            <option value="@(item)">@(item)</option>                    
                        }
                    }
                </select>
                <label for="el_@elementId">@(Model.Name)</label>
            </div>
        </div>
    }
    @if(Model.Type == "Radio")
    {
        <label>@(Model.Name)</label>
        @for(var itemIndex = 0; itemIndex < Model.Items.Count(); ++itemIndex)
        {
            var item = Model.Items[itemIndex];
            if(Model.Default == item)
            {
                <label><input type="radio" id="el_@(elementId)_@(item)" checked watch="@elementId" value="@(item)" name="@(elementId)" />@item</label>             
            }
            else 
            {
                <label><input type="radio" id="el_@(elementId)_@(item)" watch="@elementId" value="@(item)" name="@(elementId)" />@item</label>
            }
        } 
    }
    @if(Model.Type == "Check")
    {
        if(Model.Default != null && Model.Default.ToLower() == "true")
        {
            <label><input checked watch="@elementId" type="checkbox" id="el_@elementId" value="@(Model.Name)" />@(Model.Name)</label>
        }
        else {
            <label><input watch="@elementId" type="checkbox" id="el_@elementId" value="@(Model.Name)" />@(Model.Name)</label>
        }
    }
    @if(Model.Type == "Radio")
    {
         <label>@(Model.Name)</label>
        @for(var itemIndex = 0; itemIndex < Model.Items.Count(); ++itemIndex)
        {
            var item = Model.Items[itemIndex];
            if(Model.Default == item)
            {
                <label><input type="radio" id="el_@(elementId)_@(item)" checked watch="@elementId" value="@(item)" name="@(elementId)" />@item</label>             
            }
            else 
            {
                <label><input type="radio" id="el_@(elementId)_@(item)" watch="@elementId" value="@(item)" name="@(elementId)" />@item</label>
            }
        } 
    }
    @if(Model.Type == "SubElement")
    {
         <label>@(Model.Name)</label>
         <div parent-element="@(Model.Name)">
            @foreach(var e in Model.Elements) {
                Html.RenderPartial("_Element", e);
            }
        </div>
        <a class="waves-effect waves-light btn blue darken-1">
            <input watch="@elementId" type="button" value="Ajouter un(e) @(Model.Name)" />  
        </a>      
        <ul>
        </ul>
    }
</div>
