@model Yuffie.WebApp.Models.YCPSElement

@{
    var elementId = Model.Name.Replace(" ", "_").Replace("'", "").Replace("/", "_");
}

<div id="con_sum_@elementId">
    @if(Model.Type == "Text" || Model.Type == "List" || Model.Type == "Radio")
    {
        <div class="col s6">
            <label for="el_@(elementId)">@(Model.Name)
            </label>
            <p summary="@(elementId)"></p>
        </div>
    }
    @if(Model.Type == "Check")
    {
        if(Model.Default != null && Model.Default.ToLower() == "true")
        {
            <p summary="@(elementId)">True</p>
        }
        else {
            <p summary="@(elementId)">False</p>            
        }
    }

    @if(Model.Type == "SubElement")
    {
        <div summary="@(elementId)"></div>
    }
    @if(Model.Type == "Tree") 
    {
        foreach(var level in Model.Levels)
        {
            var levelId = level.Replace(" ", "_").Replace("'", "").Replace("/", "_");
            <div class="col s6">
                <label for="el_@(levelId)">@(level)
                </label>
                <p summary="@(levelId)"><i class="material-icons">done</i></p>
            </div>
        }
    }
</div>
