@model Yuffie.WebApp.Models.YCPSElement

@{
    var changeletters = new List<string[]>()
    {
        new string[] {"éèêë", "e"},
        new string[] {"àäâ", "a"},
        new string[] {"ïî", "i"},
        new string[] {"öô", "o"},
        new string[] {"üû", "u"},
        new string[] {"ÿŷ", "y"},
        new string[] {" /", "_"},
        new string[] {"'", ""}
    };
    var elementId = Model.Name;
    for(var i = 0; i < changeletters.Count; ++i) 
    {
        var letters = changeletters[i][0];
        var replacement = changeletters[i][1];
        for(var j = 0; j < letters.Length; ++j) 
        {
            elementId = elementId.Replace(letters[j].ToString(), replacement);
        }
    }
}

<div id="con_sum_@elementId">
    @if(Model.Type == "Text" || Model.Type == "List" || Model.Type == "Radio")
    {
        <div class="col s6">
            <label for="el_@(elementId)">@(Model.Name)
            </label>
            <p summary="@(elementId)"></p>
        </div>
    }
    @if(Model.Type == "Check")
    {
        if(Model.Default != null && Model.Default.ToLower() == "true")
        {
            <p summary="@(elementId)">True</p>
        }
        else {
            <p summary="@(elementId)">False</p>            
        }
    }

    @if(Model.Type == "SubElement")
    {
        <div summary="@(elementId)"></div>
    }
    @if(Model.Type == "Tree") 
    {
        foreach(var level in Model.Levels)
        {
            var levelId = level;
            for(var i = 0; i < changeletters.Count; ++i) 
            {
                var letters = changeletters[i][0];
                var replacement = changeletters[i][1];
                for(var j = 0; j < letters.Length; ++j) 
                {
                    levelId = levelId.Replace(letters[j].ToString(), replacement);
                }
            }
            <div class="col s6">
                <label for="el_@(levelId)">@(level)
                </label>
                <p summary="@(levelId)">Aucune valeur saisie</p>
            </div>
        }
    }
</div>
