@model Yuffie.WebApp.Models.YuffieConfiguration

<div class="helpingText">Vous planifier une formation...</div>
<div class="row">
    <div class="col s12 specialCol">
        <ul class="tabs tabs-icon">
            @for(var pageIndex = 0; pageIndex < Model.Pages.Count(); ++pageIndex)
            {
                var page = Model.Pages[pageIndex];
                <li class="tab col s3"><a href="#page@(pageIndex)"><i class="material-icons">@(page.Icon)</i>@(page.Name)</a></li>   
            }
        </ul>
    </div>

    @for(var pageIndex = 0; pageIndex < Model.Pages.Count() - 1; ++pageIndex)
    {
        var page = Model.Pages[pageIndex];
        <div class="page" id="page@(pageIndex)" class="col s12">
            <ul class="collapsible popout " data-collapsible="accordion">
                @for(var sectionIndex = 0; page.Sections != null && sectionIndex < page.Sections.Count(); ++sectionIndex)
                {
                    var section = page.Sections[sectionIndex];
                    <li>
                        <div class="collapsible-header active">@(sectionIndex+1) - @(section.Name)</div>
                        <div class="collapsible-body" id="page@(pageIndex)_section@(sectionIndex)">
                            <div class="row">
                                @if(section.Elements != null)
                                {
                                    foreach(var element in section.Elements)
                                    {  
                                        Html.RenderPartial("_Element", element);
                                    }
                                }
                            </div>
                                <a class="waves-effect waves-light btn yuffieNextButton" value="next">Suivant</a>
                        </div>
                    </li>
                }
            </ul>     
        </div>
    }
    @{
        <div class="page" id="page@(Model.Pages.Count() - 1)" class="col s12">
            <ul class="collapsible popout " data-collapsible="accordion">
            @for(var pageIndex = 0; pageIndex < Model.Pages.Count() - 1; ++pageIndex)
            {
                var page = Model.Pages[pageIndex];
                @for(var sectionIndex = 0; page.Sections != null && sectionIndex < page.Sections.Count(); ++sectionIndex)
                {
                    var section = page.Sections[sectionIndex];
                    <li>
                        <div class="collapsible-header active"><b>@(page.Name)- </b> @(section.Name)</div>
                        <div class="collapsible-body" id="page@(pageIndex)_section@(sectionIndex)">
                            <div class="row">
                                @if(section.Elements != null)
                                {
                                    foreach(var element in section.Elements)
                                    {  
                                        Html.RenderPartial("_SummaryElement", element);                                            
                                    }
                                }
                            </div>
                        </div>
                    </li>
                }
            }
            </ul>
             <a validate-form class="waves-effect waves-light btn yuffieNextButton" value="valider">Valider</a>
        </div>
    }
</div>